@tailwind base;
@tailwind components;
@tailwind utilities;

.relative:hover .hidden {
  display: block;
}

.pagination{
  list-style: none;
  display: flex;
 
  align-items: center;
  gap: 5px;
  
}
.pagination .page-num{
  padding: 8px 15px;
  cursor: pointer;
  font-weight: 400;
}
.pagination .page-num:hover{
  background-color: red;
  color: white;
}
.theme-picker {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

.selected-page {
  background-color: red;
}
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}